body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: row;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  height: 50px;
  width: 250px;
  position: absolute;
  top: 91%;
  left: 85%;
}

div > .left.card{
  display: inline-block;
  width: 500px;
  height: 100px;
}
div > .right.card{
  display: inline-block;
  width: 500px;
  height: 100px;
  position: absolute;
}

.left.card > img{
  width: 200px;
  height: 200px;
  float: left
}

.right.card > img{
  width: 200px;
  height: 200px;
  float: right
}

footer>p{
  font-size: 20px;
}

.main .right.card >h2{
  position: relative;
  left: 520px;
}

.main .right.card >p{
  position: relative;
  left: 520px;
}

