img{
    width: 100px;
    height: 100px;
}
.color-title{
    font-weight: normal
}

#red{
    color: red;
}

#blue{
    color: blue;
}
#green{
    color: green;
}

#yellow{
    color: yellow;
}
#orange{
    color: orange;
}